.all-sections {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    background-image: url("pexels-pixabay-531880.jpg");
}

.days {
    background-color: darkslategray;
}

@font-face {
    font-family: headerFont;
    src: url(Anton-Regular.ttf);
    font-weight: bold;
    font-size: 30pt;
}

header {
    font-family: headerFont;
}

h2 {
    margin-top: 20px;
    margin-bottom: 9px;
}

img {
    float: right;
    align-items: center;
    border: 15px solid white;
    box-shadow: 16px 16px 14px 16px#888888;
}

.name {
    background-image: linear-gradient(blue, red);
}

p {
    text-indent: 2pt;
    margin-top: 12pt;
}

.poem {
    text-align: center;
}

table,
th,
td {
    border: 1px solid black;
}

table {
    border-spacing: 3px;
}

th,
td {
    padding: 3px;
}